*, ::after, ::before {
    box-sizing: border-box;
}

.container-fluid{
    padding-top: 100px;
}
/* Button Function for Datatables */
.action-btn {
    margin-right: 10px; /* Adjust the value as needed */
}

.action-btn:last-child {
    margin-right: 0; /* Remove right margin from the last button */
}

.login-req{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;

}

.sidemenu{
    text-align: center;
    margin-top: 250px;
    color: white;
}

.g-recaptcha{
    margin-bottom: 10px;
    margin-left: 10px;
}


/* ==== View Pages ==== */
/* Karyawan */
#btnAdd{
    margin-bottom: 20px;
    /* margin-top: 100px; */
}

/* Menu */
.col-12{
    padding-top: 20px;
}

.content-template{
    padding-top: 20px;
}

/* ==== End View Pages ==== */

/* ==== Pre Loader ==== */
/* HTML: <div class="loader"></div> */
#pre-loader{
	background: #f6f5f7;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(212, 209, 209));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.loader-content{
    text-align: center;
    margin-top: 20px; /* Add spacing between loader and message */
    -webkit-animation: loader-content 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: loader-content 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 1.5rem;
    padding-left: 10px;
}

@-webkit-keyframes loader-content {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes loader-content {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.loader{
    width: 50px;
    
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%, 
      var(--c) 50%  0,  
      var(--c) 50%  100%, 
      var(--c) 100% 0, 
      var(--c) 100% 100%;
    background-size: 8px 50%;
    animation: l7-0 1s infinite;
    position: relative;
    overflow: hidden;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: l7-1;
  }
  
  @keyframes l7-0 {
   16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
   33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
   50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
  }
  
  @keyframes l7-1 {
   20%  {left:0px}
   40%  {left:calc(50%  - 4px)}
   60%  {left:calc(100% - 8px)}
   80%,
   100% {left:100%}
  }
/* ==== End Pre Loader ==== */

@keyframes puff {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .success-icon {
    display: none;
    width: 50px;
    height: 50px;
    border: 2px solid green;
    border-radius: 50%;
    position: relative;
    margin-top: -55px; /* Adjust position to overlay the loader */
  }
  
  .success-icon::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    top: 10px;
    left: 15px;
    transform: rotate(-45deg);
  }

  .error-icon {
    display: none;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(171, 7, 1);
    border-radius: 50%;
    position: relative;
    margin-top: -55px;
  }

  .error-icon::before, .error-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: red;
    top: 22px;
    left: 10px;
  }

  .error-icon::before {
    transform: rotate(45deg);
  }

  .error-icon::after {
    transform: rotate(-45deg);
  }

  
  